<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Système de Gestion des Réservations de Tennis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
</head>
<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        border: 1px solid #dee2e6;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .card-title {
        color: #007bff;
    }
</style>
<body>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Système de Réservation Tennis</h1>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Membres</h5>
                    <p class="card-text">Gérer les membres</p>
                    <a th:href="@{membrePage}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Réservations</h5>
                    <p class="card-text">Gérer les réservations</p>
                    <a th:href="@{reservationPage}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Terrains</h5>
                    <p class="card-text">Gérer les terrains</p>
                    <a th:href="@{terrainPage}" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
